<h1>作業一覧</h1>

<% @project.post_works.each do |post_work| %>

  <p>作業名：
  <%= link_to project_post_work_path(@project.id, post_work.id) do %>
    <%= post_work.name %>
  <% end %>
  </p>

  <p>作業区画：<%= post_work.area %></p>
  <p>作業開始日時：<%= post_work.start_at %></p>

  <p>----------------------------------------------------------------</p>
<% end %>