<h1>作業一覧</h1>

<%= link_to "新規投稿", new_project_post_work_path(@project.id) %>

<p>================================================================</p>

<h2>month</h2>

<div>
  <%= month_calendar events: @project.post_works do |date, post_works| %>
    <%= date.day %><br>
    <% post_works.each do |post_work| %>
      <p><%= link_to "#{post_work.name}", project_post_work_path(@project.id, post_work.id) %></p>
    <% end %>
  <% end %>
</div>