<div class="top-page">

  <h4 class="text-center">業務用スケジュール管理サイト</h4>
  <h1 class="text-center">~MANASUKE~</h1>

  <p class="text-center">
  <br>
  プロジェクト毎に自部署の作業予定を投稿し<br>
  他部署と情報共有するための業務用サイトです。<br>
  ※業務と無関係な内容の投稿はお控えください。
  </p>

</div>
