<div class="top-page">

  <h4 class="text-center">業務用スケジュール管理サイト</h4>
  <h1 class="text-center">~MANASUKE~</h1>

  <p class="text-center">
  <br>
  プロジェクト毎に自部署の作業予定を投稿し<br>
  他部署と情報共有するための業務用サイトです。<br>
  ※業務と無関係な内容の投稿はお控えください。
  </p>

</div>

<div class="log-in-button offset-4">
  <%= link_to new_user_session_path do %>
    <button type="button" class="btn btn-primary w-50 mt-3"> ログイン </button>
  <% end %>
</div>

<div class="sign-up-button offset-4">
  <%= link_to new_user_registration_path do %>
    <button type="button" class="btn btn-info w-50 mt-3"> 新規登録 </button>
  <% end %>
</div>
<br>
<br>
<br>
<div class="guest-log-in-button offset-4">
  <%= link_to homes_guest_sign_in_path, method: :post do %>
    <button type="button" class="btn btn-warning w-50 mt-3"> ゲストログイン(閲覧用) </button>
  <% end %>
</div>