<div class="container text-center">
<h1>プロジェクト一覧</h1>

<% @projects.each do |project| %>

  <div class="row py-3 d-flex justify-content-center">

      <%= link_to project_post_works_path(project.id) do %>
        <button type="button" class="btn btn-outline-dark">
          <%= project.name %>
        </button>
      <% end %>

  </div>

<% end %>
</div>

