<div class="container text-center">
<h1>管理者トップページ</h1>

  <br>
  <div>
    <%=link_to admin_projects_path do %>
      <button type="button" class="btn btn-outline-dark">
        プロジェクト一覧
      </button>
    <% end %>
  </div>
  <p>新規プロジェクトのカレンダーを作成します</p>

  <br>
  <div>
    <%= link_to admin_users_path do %>
      <button type="button" class="btn btn-outline-dark">
        ユーザー一覧
      </button>
    <% end %>
  </div>
  <p>
    登録されているユーザー情報を確認します<br>
    ユーザーを強制的に退会させることができます
  </p>

</div>