<%= link_to transition_path(notification) do %>

  <div>
    <%= link_to notification.subject.user.name, user_path(notification.subject.user) %>
    があなたの
    <%= link_to notification.subject.post_work.name, project_post_work_path(notification.subject.post_work.project, notification.subject.post_work) %>
    を承認しました
    <%= "(#{time_ago_in_words(notification.created_at)}前)" %>
  </div>

<% end %>