<div>
  <%= link_to notification.subject.user.name, user_path(notification.subject.user) %>
  が
  <%= link_to notification.subject.name, project_post_work_path(notification.subject.project, notification.subject) %>
  を投稿しました
</div>