<div class="container text-center">

<h1>ユーザー一覧</h1>

  <table class="table">
    <tr>
      <th>所属</th>
      <th>氏名</th>
      <th>フォロー中</th>
      <th>フォロワー</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.team %></td>
        <td><%= link_to "#{user.name}", user_path(user.id) %></td>

        <% if user == current_user %>
          <td>ログイン中</td>
          <td>ログイン中</td>
        <% else %>
          <td>
            <% if user.followed_by?(current_user) %>
              フォロー中
            <% else %>
              フォローしていません
            <% end %>
          </td>
          <td>
            <% if current_user.followed_by?(user) %>
              フォロワー
            <% else %>
              フォロワーではありません
            <% end %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </table>

</div>